*{
    padding: 0;
    margin: 0;
}
.every{
    display: flex;
}


body .side{
    width: 50vw;
    height: 100vh;
    background-image: url('lance-reis-2tktAnylrQ8-unsplash.jpg');
    background-size: cover;
    padding: 0;
    

}

.main{
    width: 50%;
    height: 100vh;
    background-color: aliceblue;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center
};
/* .line{
    width
 
}; */

.every .main .details{
 width: 200vw;
 height: 200vh;
 
   /* margin-top: 40px;
   margin-left: 40%; */

}

.every .main .details .social{
     display: flex; 
}
.every .main .details .social .google{
    /* padding: 10%; */
     width: 2vw;
  height: 5vh;
  background-image: url("Logo-google-icon-PNG.png");
  background-size: cover;
  /* z-index: 3; */
 };

 .every .main .details .social .fb{
    /* padding: 10%; */
     width: 2vw;
  height: 5vh;
  background-image: url("images.png");
  background-size: cover;
  /* z-index: 3; */
 }